First, you need to install the `mysql-connector-python` library if you haven't already.

In [ ]:
!pip install mysql-connector-python

Now, here's an example of a helper function to connect to MySQL and read a query into a pandas DataFrame. You'll need to replace the `host`, `user`, `password`, and `database` with your specific MySQL connection details.
![box1](https://raw.githubusercontent.com/najczuk/2025-pg-bda-notebooks/main/img/colab-secrets.png "Colab Secrets")

In [ ]:
import mysql.connector
import pandas as pd
from google.colab import userdata

# def

def run_mysql_query_to_dataframe(query):
    # Replace with your MySQL database credentials
    mysql_config = {
        'host': userdata.get('db-host'),
        'user': userdata.get('db-user'),
        'password': userdata.get('db-pass'),
        'database': 'sakila'
    }

    try:
        conn = mysql.connector.connect(**mysql_config)
        df = pd.read_sql(query, conn)
        return df
    except mysql.connector.Error as err:
        return pd.DataFrame()
    finally:
        if 'conn' in locals() and conn.is_connected():
            conn.close()

You can now use `run_mysql_query_to_dataframe` with your SQL queries. For example:

In [ ]:
# Example usage (replace with your actual MySQL table and query)
query_mysql = """
SELECT *
FROM actor
LIMIT 5
"""
run_mysql_query_to_dataframe(query_mysql)

# SQL Lab: JOIN, UNION, and Functions

Today we will explore some of the most powerful features in SQL for combining and transforming data: `JOIN` clauses, the `UNION` operator, and various functions.

## 1. Combining Data with JOINs

### Introduction to JOINs

When working with relational databases, our data is often split across multiple tables. For example, we might have a `customer` table and an `address` table. A `JOIN` clause is used to combine rows from two or more tables based on a related column between them.

There are several types of JOINs:

*   **INNER JOIN**: Returns records that have matching values in both tables.
*   **LEFT JOIN**: Returns all records from the left table, and the matched records from the right table. The result is NULL from the right side if there is no match.
*   **RIGHT JOIN**: Returns all records from the right table, and the matched records from the left table. The result is NULL from the left side when there is no match.
*   **CROSS JOIN**: Returns all possible combinations of rows from both tables.

### JOIN Examples

Let's look at how these work in practice.

#### INNER JOIN

This query selects all customers who have a corresponding department.

```sql
SELECT *
FROM customer c
JOIN department d
  ON c.dep_id = d.dep_id;
```

![box1](https://raw.githubusercontent.com/najczuk/2025-pg-bda-notebooks/main/20251217-lab/img/5_sql/join.PNG "Join")

#### LEFT JOIN

This query selects all customers, and includes their department information if it exists. If a customer has no department, the department columns will be `NULL`.

```sql
SELECT *
FROM customer c
LEFT JOIN department d
  ON c.dep_id = d.dep_id;
```

![box1](https://raw.githubusercontent.com/najczuk/2025-pg-bda-notebooks/main/20251217-lab/img/5_sql/left_join.PNG "left join")

#### RIGHT JOIN

This query selects all departments, and includes customer information for those departments. If a department has no customers, the customer columns will be `NULL`.

```sql
RIGHT JOIN department d
  ON c.dep_id = d.dep_id;
```

#### CROSS JOIN

This query combines every row from the `customer` table with every row from the `department` table.

```sql
SELECT * FROM customer, department;
-- OR
SELECT * FROM customer CROSS JOIN department;
```

![box1](https://raw.githubusercontent.com/najczuk/2025-pg-bda-notebooks/main/20251217-lab/img/5_sql/cross_join.PNG "cross join")


### Your Turn: JOINs

Now it's time to practice.

**Task 1:** Display the `first_name`, `last_name`, `address`, and `address2` for each customer by joining the `customer` and `address` tables.

![box1](https://raw.githubusercontent.com/najczuk/2025-pg-bda-notebooks/main/20251217-lab/img/5_sql/join1.png)

In [ ]:
# your turn

**Task 2:** Display the film `title` and its `category` by joining the `film`, `film_category`, and `category` tables.

![box1](https://raw.githubusercontent.com/najczuk/2025-pg-bda-notebooks/main/20251217-lab/img/5_sql/join2.png)

In [ ]:
# your turn

**Task 3:** Display the film `title` and its original `language`, even if the language does not exist in the language table.

![box1](https://raw.githubusercontent.com/najczuk/2025-pg-bda-notebooks/main/20251217-lab/img/5_sql/join3.png)

In [ ]:
# your turn

**Task 4:** Display the `first_name`, `last_name`, and transaction `amount` for the top 10 most expensive transactions.

![box1](https://raw.githubusercontent.com/najczuk/2025-pg-bda-notebooks/main/20251217-lab/img/5_sql/join4.png)

In [ ]:
# your turn

**Task 5:** Display rental data (`rental`) and its associated payment data (`payment`), even if there is no corresponding payment for a rental. Sort the results by `rental_id`.

![box1](https://raw.githubusercontent.com/najczuk/2025-pg-bda-notebooks/main/20251217-lab/img/5_sql/join5.png)

In [ ]:
# your turn

## 2. Merging Rowsets with UNION

### Introduction to UNION

The `UNION` operator is used to combine the result-set of two or more `SELECT` statements.

*   `UNION`: Selects only distinct values by default.
*   `UNION ALL`: Allows duplicate values.

Each `SELECT` statement within `UNION` must have the same number of columns in the result sets with similar data types.

### UNION Example

This query combines the names and surnames from the `customer` and `staff` tables.

```sql
SELECT
  name,
  surname
FROM
  customer
UNION
SELECT
  name,
  surname
FROM
  staff;
```

![box1](https://raw.githubusercontent.com/najczuk/2025-pg-bda-notebooks/main/20251217-lab/img/5_sql/union.PNG "UNION")

### Your Turn: UNION

**Task:** Write a query that returns a single list of all city names from the `customer_list` and `store_list` tables, without duplicates.

In [ ]:
# your turn

## 3. Transforming Data with Functions

### Introduction to Functions

SQL functions allow you to perform calculations and transformations on data. They can be broadly categorized into two types:

*   **Scalar Functions**: Operate on a single value and return a single value. These are used for things like transforming strings, dates, and numbers.
*   **Aggregate Functions**: Operate on a set of values and return a single summary value (e.g., `SUM`, `AVG`, `COUNT`).

### Function Examples

#### String Functions

```sql
SELECT
  LENGTH(col1),             -- Get the length of a string
  SUBSTRING(col1, 1, 2),    -- Get a part of a string
  CONCAT(col1, ' ', col2) -- Concatenate strings
FROM
  some_table;
```

#### Date Functions

```sql
SELECT
  DATE(some_date),
  YEAR(some_date),
  MONTH(some_date)
FROM
  some_table;
```

#### Aggregate Functions

```sql
SELECT
  MIN(col1),    -- Minimum value
  MAX(col1),    -- Maximum value
  SUM(col1),    -- Sum of values
  AVG(col1),    -- Average value
  COUNT(col1),  -- Count of non-null values
  COUNT(*)      -- Count of all rows
FROM
  some_table;
```

### Your Turn: Functions

Now, practice using some of these functions.

**Task 1:** Display the full name of each active customer by concatenating their first and last names with a space in between.

In [ ]:
# your turn

**Task 2:** Display the first 8 characters of each film title.

In [ ]:
# your turn

**Task 3:** Display each film title and the length of the title.

In [ ]:
# your turn

**Task 4:** From the `rental` table, display the date, year, and month for each `rental_date`.

In [ ]:
# your turn

**Task 5:** Display the length of each film in hours (film `length` is in minutes).

In [ ]:
# your turn

**Task 6:** For each film, calculate a new duration that includes an additional 15 minutes for commercials.

In [ ]:
# your turn

**Task 7:** What percentage of rentals have been returned? (Hint: compare `rental_date` and `return_date`).

In [ ]:
# your turn